{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->

        <title>Heart Animation</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        
    </head>
    <body>
        <div class="pc-background">
            <!-- PC에서만 보이는 흰색 배경 -->
        </div>
        <div class="container">
            <div class="header">
                <hr style="border: none; border-top: 2px solid #A1A1A1; width: 375px;">
                <div style="border-left: 2px solid #A1A1A1; height: 50px; margin-left: 20px;"></div>
            </div>
            <main>
                <img class="newyear_img" src="{% static 'images/2025.png' %}" alt="2025그림"/>
                <p class="main_text1">나만의<br></p>
                <p class="main_text2">부적만들기</p>
                <p class="main_text3">삐-빅! 외계-외계 기운이 충전 완료!<br>온 우주의 행운이 당신의 부적에 깃듭니다!</p>

                <button type="button" class="main_btn">
                    <img src="{% static 'images/main_btn.png' %}" alt="부적 만들러가기 버튼"/>
                    <span class="imtext">부적 만들러가기</span>
                </button>
    
            </main>
            
            <div class="heart1">
                <img src="{% static 'images/heart.png' %}">
            </div>
            <div class="heart2">
                <img src="{% static 'images/heart.png' %}">
            </div>
            <!-- <div class="heart" style="top: 20%; left: 30%;">
                <img src="{% static 'images/heart.png' %}">
            </div>
            <div class="heart" style="top: 50%; left: 60%;">
                <img src="{% static 'images/heart.png' %}">
            </div> -->
            <script src="{% static 'js/script.js' %}"></script>
        </div>
        
    </body>
</html>