<div
  style="width: 394px; height: 855px; position: relative; overflow: hidden; background: #f5f5f5;"
>
  <div
    style="width: 393px; height: 852px; position: absolute; left: -1px; top: -4px; background: #f5f5f5;"
  ></div>
  <div style="width: 114px; height: 28px;">
    <p
      style="position: absolute; left: 115px; top: 414px; font-size: 18px; text-align: center; color: #a1a1a1;"
    >
      염원을 담는 중
    </p>
  </div>
  <img
    src="{% static 'images/loading.png' %}"
    style="width: 121px; height: 72px; position: absolute; left: 127px; top: 330px; object-fit: cover;"
  />
</div>