{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->

        <title>Heart Animation</title>
        <link rel="stylesheet" href="{% static 'css/step.css' %}">
        
    </head>
    <body>
        <div class="pc-background">
            <!-- PC에서만 보이는 흰색 배경 -->
        </div>
        <div class="container">
            <p class="main_text">
                염원 적기
            </p>
            <div id="card-ex-img">
                <img src="{% static 'images/health_1_img.png' %}" alt="예시 이미지">
                <div class="text-overlay" id="textOverlay"></div>
            </div>
            <p class="context1">
                <span>문구 입력 안 하고 요청 버튼 누르면</span><br />
                <span>예시 문구 그대로 나와요!</span>
            
            </p>
            <!-- <p class="context2">
                <span style="left: 21px; top: 406px; font-size: 18px; text-align: center; color: #a1a1a1;">
                    왼쪽 문구
                </span>
            </p> -->
                <!-- 문구 입력 창-->
                <div class="input_area">
                    <div id="input_content1">
                        <span class="input_text1">
                            왼쪽 문구
                        </span>
                        <input type="text" class="input_box1" placeholder="최대 10자">
                    </div>
                    <div id="input_content2">
                        <span class="input_text2">
                            오른쪽 문구
                        </span>
                        <input type="text" class="input_box2" placeholder="최대 10자">
                    </div>
                </div>
                <div class="btn_area">
                    <!--버튼 -->
                    <button class="next_btn">
                    <p>
                        부적 수신 요청
                    </p>
                </div>
    
                </div>
            
            
            
            
        </div>
        <script>
            const input1 = document.querySelector('.input_box1');
            const input2 = document.querySelector('.input_box2');
            const img = document.querySelector('#card-ex-img > img');
            var img_name = '';

            
            // input이 focus 되었을 때
            input1.addEventListener('focus', () => {
                if (img.length !== 0) {
                var url_ls = img.src.split('/');
                img_name = url_ls[url_ls.length - 1];
                }
                if (img_name.indexOf('1') !== -1){
                    url_ls[url_ls.length - 1] = img_name.replace('1','2');
                    img.src = url_ls.join('/');
                }
                status = 'yes';
                console.log(status);
            });
    
            // input이 blur 되었을 때 (focus가 벗어남)
            input1.addEventListener('blur', () => {
                if (img.length !== 0) {
                var url_ls = img.src.split('/');
                img_name = url_ls[url_ls.length - 1];
                }
                if (img_name.indexOf('2') !== -1){
                    url_ls[url_ls.length - 1] = img_name.replace('2','1');
                    img.src = url_ls.join('/');
                }
                status = 'no2'
                console.log(status);
            });
        </script>

        <script>

            const textOverlay = document.getElementById('textOverlay');

            // Listen for input changes and update the overlay text
            input1.addEventListener('input', (e) => {
                if (img.length !== 0) {
                var url_ls = img.src.split('/');
                img_name = url_ls[url_ls.length - 1];
                }
                if (img_name.indexOf('1') !== -1){
                    url_ls[url_ls.length - 1] = img_name.replace('1','2');
                    img.src = url_ls.join('/');
                }
                textOverlay.textContent = e.target.value;
            });

        </script>

        
    </body>
</html>