{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <title>Heart Animation</title>
        <link rel="stylesheet" href="{% static 'css/step_2.css' %}">
        
    </head>
    <body>
        <div class="pc-background">
            <!-- PC에서만 보이는 흰색 배경 -->
        </div>
        <div class="container">
            <div class="content_area">
                <p class="main_text">
                    염원 적기
                </p>
                <!-- <form action="{% url 'polls:result' %}" method="post" id="result_img">
                    {% csrf_token %} -->
                    <div id="card-ex-img">
                        <img src="{% static 'images/'|add:img1 %}" alt="예시 이미지">

                            <div class="text-overlay1" id="textOverlay1"></div>
                            
                            <div class="text-overlay2" id="textOverlay2"></div>

                    </div>
                <!-- </form> -->
                <p class="context1">
                    <span>문구 입력 안 하고 요청 버튼 누르면</span><br />
                    <span>예시 문구 그대로 나와요!</span>
                
                </p>
            </div>
            <!-- <form method="post">
                {% csrf_token %} -->
                <div class="input_area">
                    <div id="input_content1">
                        <span class="input_text1">
                            왼쪽 문구
                        </span>
                        <input type="text" class="input_box1" name="text1" maxlength='14' placeholder="한글 최대 11자, 영어 최대 14자">
                    </div>
                    <div id="input_content2">
                        <span class="input_text2">
                            오른쪽 문구
                        </span>
                        <input type="text" class="input_box2" name="text2" maxlength='14' placeholder="한글 최대 11자, 영어 최대 14자">
                    </div>
                </div>
                
                <div class="btn_area">
                    <!--버튼 -->
                    <button class="next_btn">부적 수신 요청</button>
                </div>
            <!-- </form> -->
    
                </div>
            
            
            
            
        </div>
        
        <script>
            const input1 = document.querySelector('.input_box1');
            const input2 = document.querySelector('.input_box2');
            const img = document.querySelector('#card-ex-img > img');
            var img_name = '';
            // mode 파라미터 값
            var urlParams = new URL(location.href).searchParams;
            var mode = urlParams.get('mode');

            

            
            // input이 focus 되었을 때
            input1.addEventListener('focus', () => {

                if (img.length !== 0) {
                    var url_ls = img.src.split('/');
                    img_name = url_ls[url_ls.length - 1];
                    
                    if (img_name == "{{ img1 }}"){
                        var img_path = "{% static 'images/' %}{{ img2 }}";
                        img.src = img_path;
                    }
                }
            
            });

            input2.addEventListener('focus', () => {

                if (img.length !== 0) {
                    var url_ls = img.src.split('/');
                    img_name = url_ls[url_ls.length - 1];
                    
                    if (img_name == "{{ img1 }}"){
                        var img_path = "{% static 'images/' %}{{ img2 }}";
                        img.src = img_path;
                    }
                }

            });
    
            // input이 blur 되었을 때 (focus가 벗어남)
            input1.addEventListener('blur', () => {

                if (input1.value == '' && input2.value == '') {
                    if (img.length !== 0) {
                        var url_ls = img.src.split('/');
                        img_name = url_ls[url_ls.length - 1];
                        if (img_name == "{{ img2 }}"){
                            var img_path = "{% static 'images/' %}{{ img1 }}";
                            img.src = img_path;
                        }
                    }
                }
            });

            input2.addEventListener('blur', () => {

                if (input2.value == '' && input1.value == '') {
                    if (img.length !== 0) {
                        var url_ls = img.src.split('/');
                        img_name = url_ls[url_ls.length - 1];
                        if (img_name == "{{ img2 }}"){
                            var img_path = "{% static 'images/' %}{{ img1 }}";
                            img.src = img_path;
                        }
                    }
                }
            });
        </script>

        <script>


            const textOverlay1 = document.getElementById('textOverlay1');
            const textOverlay2 = document.getElementById('textOverlay2');
            

            // Listen for input changes and update the overlay text
            input1.addEventListener('input', (event) => {
                const inputText = event.target.value; // 입력된 텍스트
                const outputDiv = document.getElementById('textOverlay1'); // 출력할 div
                outputDiv.innerHTML = ''; // 기존 내용을 초기화

                // 각 글자를 span으로 감싸기
                inputText.split('').forEach(char => {
                    const checkEng = /[a-zA-Z]/;
                    const span = document.createElement('span');
        
                    // 띄어쓰기 처리
                    if (char.trim() === '') {
              
                        span.style.height = '0.23rem';
                        span.style.width = '0.8rem';
                    }
                    // 영어 간격 처리
                    else if (checkEng.test(char)) {
                        span.style.lineHeight = '70%';
                    }
                    
                    span.textContent = char; // 글자를 span에 추가
                    
                    // span.style.margin = '0 2px'; // 글자 간 간격 추가
                    outputDiv.appendChild(span);

                });

                if (img.length !== 0) {
                    var text1 = textOverlay1.innerText;
                    var url_ls = img.src.split('/');
                    img_name = url_ls[url_ls.length - 1];
                    
                    if (img_name == "{{ img1 }}"){
                        var img_path = "{% static 'images/' %}{{ img2 }}";
                        img.src = img_path;
                    }
                }
                // textOverlay1.textContent = event.target.value;
            });

            input2.addEventListener('input', (event) => {
                const inputText = event.target.value; // 입력된 텍스트
                const outputDiv = document.getElementById('textOverlay2'); // 출력할 div
                outputDiv.innerHTML = ''; // 기존 내용을 초기화

                // 각 글자를 span으로 감싸기
                inputText.split('').forEach(char => {
                    const checkEng = /[a-zA-Z]/;
                    const span = document.createElement('span');
                    // 띄어쓰기 처리
                    if (char.trim() === '') {
         
                        span.style.height = '0.3rem';
                        span.style.width = '0.8rem';
                    }
                    // 영어 간격 처리
                    else if (checkEng.test(char)) {
                        span.style.lineHeight = '70%';
                    }
                    span.textContent = char; // 글자를 span에 추가
                    
                    // span.style.margin = '0 2px'; // 글자 간 간격 추가
                    outputDiv.appendChild(span);

                });

                if (img.length !== 0) {
                    var text2 = textOverlay2.innerText; 
                    var url_ls = img.src.split('/');
                    img_name = url_ls[url_ls.length - 1];
                    
                    if (img_name == "{{ img1 }}"){
                        var img_path = "{% static 'images/' %}{{ img2 }}";
                        img.src = img_path;
                    }
                }
                // textOverlay2.textContent = event.target.value;
            });

        </script>

        <script>
            // 랜덤 파일명 생성
            var random = (length = 8) => {
                const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                let str = '';

                for (let i = 0; i < length; i++) {
                    str += chars.charAt(Math.floor(Math.random() * chars.length));
                }

                return 'result_' + str + '.png';
            };
            // CSRF 토큰 가져오기 함수 (Django 기본 설정)
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function captureWithBackground() {
                const element = document.getElementById("card-ex-img"); // 캡처할 대상
                var fileNm = random(12);
                console.log(fileNm);
                const input1_val = document.querySelector('.input_box1').value;
                const input2_val = document.querySelector('.input_box2').value;
                const jsonData = {
                    image_path: fileNm,
                    text1: input1_val,
                    text2: input2_val,
                    mode: mode
                };


                // html2canvas로 캡처
                html2canvas(element, {
                    scale: 4, // 고해상도
                    useCORS: true, // 외부 이미지 로딩 지원
                    allowTaint: true // 로컬 리소스 지원
                    
                }).then(canvas => {

                    canvas.toBlob(blob => {
                        const formData = new FormData();
                        // formData.enctype = "multipart/form-data";
                        formData.append('image', blob, fileNm);
                        formData.append('text1', input1_val);
                        formData.append('text2', input2_val);
                        formData.append('mode', mode);

                        // 폼데이터 값 출력
                        let entries = formData.entries();
                        for (const pair of entries) {
                            console.log(pair[0]+ ', ' + pair[1]); 
                        }

                        // formData.append('json', JSON.stringify(jsonData, 
                        //     (key, value) => {
                        //         return typeof value === 'string' ? encodeURIComponent(value) : value;
                        //     }));

                        // upload로 전송
                        fetch("save", {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken') // CSRF 토큰 설정
                            },
                            body: formData,
                
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Upload successful:', data);
                        })
                        .catch(error => {
                            console.error('Error uploading image:', error);
                        });


                    });
                });
            }


            $(document).ready(function(){
                $("button[class=next_btn]").click(function () {
                    captureWithBackground();
                    
        
                });
            });

        </script>

        
    </body>
</html>